
		<div class="container-fluid grid">
			<div class="panel panel-default">
				<div class="title panel-heading">
					<div class="row">
						<div id="panel-left" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<h4><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Enrollment</h4>
						</div>
					</div>
				</div>

				<div class="panel-body">
					<div class="row clearfix">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
								<label for="rew_prog" class="item">Rewards Program:</label>
							</div>
							<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
								<select class="form-control">
									<option>none</option>
								</select>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
								<label for="browse" class="item">Select File:</label>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
								<div class="input-group" style="margin: 0px; width: 100%;">
					                <input class="form-control"  type="file">                
					            </div>
							</div>
							<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
								<button class="btn btn-default" data-toggle="modal" data-target="#upload">Upload</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="upload" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-style">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Upload Summary</h4>
		      </div>
		      <div class="modal-body">
		        <div class="row">
		        	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">Total Records</div><div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">80</div>
		        	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">Total Upload Records</div><div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">75</div>
		        	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">Total Skipped Records</div><div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">5</div>
		        	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><br></div>
		        	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">Run Time</div><div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">30 minutes</div>
		        </div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default">Print Records</button>
		        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>