
		<div class="container-fluid grid">
			<div class="panel panel-default">
				<div class="title panel-heading">
					<div class="row">
						<div id="panel-left" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<h4><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Batch History</h4>
						</div>
						<div id="panel-right" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<span class="panel-right-button">
								<a ui-sref="View Process History"><button id="view-button" type="button" class="btn btn-primary">View</button></a></span>
						</div>
					</div>
				</div>
				<div class="panel-body">
					<br/>
				</div>
			</div>
		</div>